*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
   height: 500px; 
}
.nav-menu{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0% 0% 0% 0%;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
.nav-menu li{
    margin: 0px ;
    padding: 0% 5% 5% 0% ;
    list-style: none;
}

